.button-row {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Adjust as needed */
}

.button-row p-button {
  margin: 0 5px; /* Adjust the horizontal margin as needed */
}
  
.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.input-label {
  width: 80px; /* Set the desired width for the labels */
  margin-right: 10px; /* Adjust as needed */
}

.button-row {
  margin-top: 10px; /* Adjust as needed */
}

 .button-container {
    display: flex;
    gap: 1em; /* ปรับระยะห่างตามที่ต้องการ */
  }
  

  .map-input {
    position: relative;
    width: 78vw;
  }

  .bookmark-item {
    background-color: rgb(10, 179, 230); /* Set your desired background color here */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    width: 20vw;
    height: 7vh;
  }
  
  .form {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(184, 181, 181, 0.5); /* ใช้ rgba เพื่อทำให้พื้นหลังทะลุผ่าน (opacity) */
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
  }
  
  .bookMark {
    /* ตัวอย่างรูปแบบสำหรับ .bookMark (ถ้ามี) */
    margin-top: 20px;
    margin-left: 10px;
  }
 

  .container {
    height: 100%;
    display: flex;
    }

    .bookmark-item {
      margin-bottom: 10px;
    }
    
    .bookmark-content {/* Set your desired background color here */
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
    }
    .delete{
      margin-top: -13px;
      padding-left: 10x;
     
    }

