table,th,td {
 
  border-collapse: collapse;
}

tr {
  padding-top: 10px;
  display: grid;
  margin-bottom: 10px;
}


.table {
  overflow: auto;
  margin: 10px;
  padding: 15px;
  background-color: white;
  border-radius:10px;
  width: 50%;
}

th, td {
  height: 40px;
}

tr:hover {
  background-color: rgb(233, 151, 0);
  border-radius:15px;
}
tr:active{
  background-color: rgb(198, 130, 3);
}




.container {
  height: 100%;
  display: flex;
  background-color: rgb(235, 235, 235);
}

.map {
  height: 100%;
  display: flex;
  background-color: rgb(235, 235, 235);
  width: 45vw;
  height: 97vh
}

table {
  width: 100%;
  border-spacing: 10px;
  margin-top: 20px;
}

td {
  height: 10px;
  padding-left: 15px;
  border-radius: 10px;
}

.highlight {
  background-color: rgb(34, 201, 4);
  border-radius: 15px;
  transition: all 0.3s;
}


.normal {
  background-color: rgb(201, 132, 4);
  border-radius: 15px;
  transition: all 0.3s;
}



.normal:active {
  background-color: rgb(159, 105, 4)
}