<style>
    .formtitle {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        position: fixed;
        z-index: 99;
        top: 20px;
        right: 20px;
    }
</style>
<div class="formtitle">
    <h1>{{formTitle}}</h1>
    
        <p>Latitude:<p>
        <p-inputNumber [(ngModel)]="customPoint.latitude" inputId="local-user" [maxFractionDigits]="8"></p-inputNumber>
        <p>Longitude:<p>
        <p-inputNumber [(ngModel)]="customPoint.longitude" inputId="local-user" [maxFractionDigits]="8"></p-inputNumber><br>
        <br><p-button (click)="onLocate()" label="Locate"></p-button>
   
<div>
   

  